<p><strong>{{error}}</strong></p>


{{#if payload}}
<h1>Listado de productos</h1>
<ul>
    {{#each payload}}
    <li>{{this.tittle}} {{this.price}} </li>
    {{/each}}
</ul>
{{#if hasPrevPage}}
<a href={{prevLink}}>Anterior</a>
{{/if}}

{{page}}

{{#if hasNextPage}}
<a href={{nextLink}}>Siguiente</a>
{{/if}}

{{else}}
<h2>No hay productos</h2>
{{/if}}